---
layout: default
title: Luc Palombo - About
---
<div class="light-section">
  {% include navigation.html %}
  <div class="container regular">
    <h1>About</h1>
  </div>

  <div class="container">
    <div class="flex-wrapper">
      <div class="flex-column _50">
        <div class="adjustments aboutmargin">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pharetra sem aliquet nibh auctor semper eget ut augue.</p>
          
          <p>Duis rhoncus quis sem vel viverra. Cras fringilla massa at aliquet varius. Maecenas nec porta nibh, ut vulputate turpis.</p>
              
          <p>Sed sapien lorem, eleifend at diam sit amet, cursus auctor turpis. Suspendisse id viverra felis, et faucibus urna. Nullam molestie dolor id arcu tempor dictum.</p>
        </div>
      </div>

      <div class="flex-column _50">
        big me go here
      </div>
    </div>
  </div>
  {% include footer.html %}
</div>