---
layout: default
title: Luc Palombo - About
extra_js:
- assets/js/three.min.js
- assets/js/GLTFLoader.js
- assets/js/anime.min.js
---
<div class="light-section">
  {% include navigation.html %}
  <div class="container">
      <div class="flex-column">
          <h1>About</h1>
      </div>
  </div>

  <div class="container">
    <div class="flex-wrapper m-col">
      <div class="flex-column _50">
        <div class="adjustments aboutmargin">
          <p>Hey! My name is Luc (short for Luciano) and I’ve been making dumb interactive stuff since I first downloaded the Flash MX trial from <a href="http://albinoblacksheep.com">albinoblacksheep.com.</a></p>
          
          <p>I’ve graduated from York University and Sheridan College with a Bachelor of Design Honours in 2017 with a special focus on interaction and motion design. Since then I’ve been a marketing designer at <a href="https://www.connected.io">Connected</a>, and motion designer at <a href="https://www.rogersmedia.com">Rogers Media.</a></p>
              
          <p>I love creating and animating playful experiences, experimenting with new technology, learning new tools and skills, and teaching. I’d love to be designing for spatial computing, so much so that I started a club at my <a href="/2018/08/21/connected.html">previous job!</a></p>

          <p>I'm always interested in meeting cool people and am currently seeking new opportunities. Let's chat!</p>
        </div>
      </div>

      <div class="flex-column _50">
        <canvas id="luc-home"> </canvas>
      </div>
    </div>
  </div>
  {% include footer.html %}
</div>

<script id="wiggle_script" src="assets/js/wiggle.js" data-animate="false"> </script>