---
layout: default
title: Luc Palombo
extra_js:
- assets/js/three.min.js
- assets/js/OrbitControls.js
- assets/js/GLTFLoader.js
- assets/js/perlin.js
- assets/js/anime.min.js
- assets/js/noframework.waypoints.min.js


---
<div id="loader">
  <div id="lilbox"></div>
</div>
<div class="preload-wrapper">
<div class="hero-section">
  <div id="hero" class="flex-wrapper column fullheight">
    {% include navigation-light.html %}
    <div class="flex-column nomargin stretch _100">
      <div class="container hero">
        <div class="flex-wrapper fullheight m-col">
          <div class="flex-column _50">
            <div class="flex-wrapper column fullheight">
              <h1 class="light">Luc Palombo</h1>
              <div class="flex-wrapper alignbottom">
                <ul class="links light">
                    {% for item in site.data.social %}
                      <li><a href="{{ item.link }}">{{ item.name }}</a></li>
                    {% endfor %}
                </ul>
              </div>
            </div>
          </div>

          <div id="luc-wrapper" class="flex-column _50 highlightbox">
            <div id="luc-wrappy">
                <canvas id="luc-home"> </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="light-section padding">
  <div class="container" id="windows">
    <div class="window-parent">
      <div class="window-grid">
        <img src="assets/images/me.png" id="window-me1"/>
        <img src="assets/images/me.png" id="window-me2" />
        <div class="window-row">
            <div class="window-col open">
              <div class="window-openbox square"></div>
            </div>
            <div class="window-col closed"></div>
            <div class="window-col open">
              <div class="window-openbox square"></div>
            </div>
            <div class="window-col closed"></div>
            <div class="window-col open">
              <div class="window-openbox square"></div>
            </div>
            <div class="window-col closed"></div>
            <div class="window-col open">
              <div class="window-openbox square"></div>
            </div>
        </div>
        <div class="window-line"></div>
        <div class="window-row">
            <div class="window-col open">
              <div class="window-openbox square"></div>
              <div class="window-openbox fill"></div>
            </div>
            <div class="window-col closed"></div>
            <div class="window-col open">
                <div class="window-openbox square"></div>
                <div class="window-openbox fill"></div>
            </div>
            <div class="window-col closed"></div>
            <div class="window-col text">
              <p>Designer and creative technologist based in Toronto, Ontario.</p>
      
              <p>Deeply fascinated by new technology, playful experiences, and teaching others</p>
                
              <p>Previously marketing at <a href="https://connected.io">Connected</a> and motion designer with <a href="https://rogers.ca">Rogers Media</a></p>
                
              <p><a href="/projects" class="underline">View Projects</a></p>
            </div>
        </div>
      </div>
    </div>
  </div>
  {% include footer.html %}
</div>
</div>

<script id="wiggle_script" src="assets/js/wiggle.js" data-animate="true"> </script>

<script>
  var waypoint = new Waypoint({
    element: document.getElementById('windows'),
    handler: function(direction) {
      anime({
        targets: '#window-me1',
        left: '-10%',
        easing: 'easeOutElastic(5, 1)',
        rotate: 130,
        duration: 2000
      });
      anime({
        targets: '#window-me2',
        top: '10%',
        easing: 'easeOutElastic(5, 1)',
        duration: 2000,
        delay: 500
      });
    }
    , offset: '25%'
  });
</script>




