---
layout: home
title: Luc Palombo
---

<div class="hero-section">
  <div class="flex-wrapper column fullheight">
    {% include navigation-light.html %}
    <div class="flex-column nomargin stretch">
      <div class="container hero">
        <div class="flex-wrapper fullheight m-col">
          <div class="flex-column _50">
            <div class="flex-wrapper column fullheight">
              <h1 class="light">Luc Palombo</h1>
              <div class="flex-wrapper alignbottom">
                <ul class="links light">
                    {% for item in site.data.social %}
                      <li><a href="{{ item.link }}">{{ item.name }}</a></li>
                    {% endfor %}
                </ul>
              </div>
            </div>
          </div>

          <div class="flex-column _50 highlightbox">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="light-section padding">
  <div class="container">
    <div class="flex-wrapper marginbottom">
      <div class="flex-column _25 highlightbox square m-hide"></div>
      <div class="flex-column _25 highlightbox square m-hide"></div>
      <div class="flex-column _25 highlightbox square m-hide"></div>
      <div class="flex-column _25 highlightbox square m-hide"></div>
    </div>
    <div class="flex-wrapper marginbottom">
      <div class="flex-column _25 highlightbox square m-hide"></div>
      <div class="flex-column _25 highlightbox square m-hide"></div>
      <div class="flex-column _50"><p>Designer and creative technologist based in Toronto, Ontario.</p>
      
        <p>Deeply fascinated by new technology, playful experiences, and teaching others</p>
          
        <p>Previously marketing at <a href="https://connected.io">Connected</a> and motion designer with <a href="https://rogers.ca">Rogers Media</a></p>
          
        <p><a href="/projects" class="underline">View Projects</a></p>
      </div>
    </div>
  </div>
  {% include footer.html %}
</div>




