---
layout: default
title: Projects
---
<h1>Projects</h1>

<div>
  <ul>
    {% for project in site.posts %}
      <li>
        <div>
          <p>
            {% if post.tags.size > 0 %}
              {{ post.tags | sort | join: " - " }}
            {% endif %}
          </p>
          <h2><a href="{{ project.url }}">{{ project.title }}</a></h2>
          <p>{{ project.excerpt }}</p>
        </div>
        <div>
          <div>
              {% for image in project.images %}
                <img src="{{ image.src }}" />
              {% endfor %}
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>

<div>
  <h2>Experiments</h2>
  <p>Projects created to experiment with new technology</p>
  <div>p1</div>
  <div>p2</div>
  <div>p3</div>
</div>

<div>
  <div>Reel</div>
  <div>Little Me</div>
</div>