---
layout: default
title: Projects
extra_js:
- assets/js/anime.min.js
- assets/js/noframework.waypoints.min.js
---
<div class="highlight-section">
  {% include navigation.html %}

  <div class="container">
      <div class="flex-column">
          <h1>Projects</h1>
      </div>
  </div>

  <div class="container">
    <ul>
      {% for project in site.categories.projects reversed %}
      <li class="flex-wrapper project m-col">
        <div class="flex-column _50">
            <div class="flex-wrapper column fullheight">
                <p class="tags">
                    {% if project.tags.size > 0 %}{{ project.tags | sort | join: " - " }}{% endif %}
                </p>
                <h2><a href="{{ project.url }}">{{ project.title }}</a></h2>
                <p class="adjustments notopmargin">{{ project.description }}</p>
                <div class="flex-wrapper alignbottom">
                    <div class="project-buttons">
                        <a href="{{ project.url }}">View Case Study</a>
                        {% if project.previewurl %}
                        <a href="{{ project.previewurl }}" target="_blank">Launch Project</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-column _50">
            <a href="{{ project.url }}">
                <div class="image-stack">
                    {% for image in project.images %}
                    <div style="background-image: url('{{image | asset:"@path"}}');"></div>
                    {% endfor %}
                </div>
            </a>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="light-section padding">
  <div class="container">
    <div class="flex-column">
      <h2><a href="/experiments.html">Experiments</a></h2>
      <p>Projects created to experiment with new technology</p>
    </div>
    <div class="flex-wrapper regularwidth">
      {% for experiment in site.categories.experiments limit: 3 %}
      <div class="flex-column nomargin stretch highlightbox square" style="background-image: url('{{experiment.image | asset:"@path"}}');"></div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="highlight-section">
  <div class="container reel">
    <div class="flex-wrapper">
      <div class="flex-column _66">
          <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://player.vimeo.com/video/203412336' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
      </div>
      <div class="flex-column _33 m-hide">
        <div class="flex-wrapper fullheight alignbottom">
          <div class="flex-wrapper fullwidth rowreverse">
            <div class="smallbox" id="test"><div id="smallbox-me"></div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include footer.html %}
</div>

<script>
  var waypoint = new Waypoint({
    element: document.getElementById('test'),
    handler: function(direction) {
      anime({
        targets: '#smallbox-me',
        backgroundPositionY: "-700%",
        duration: 3000
      });
    }, offset: '50%'
  });
</script>

<script>
    //todo: do something with this code
    var projectImages = document.querySelectorAll(".image-stack"), i;
    for (i = 0; i < projectImages.length; ++i) {
        var current = projectImages[i];
        if(current.children.length > 1){
            //console.log(current);
        }
    }
</script>