$grid-inc: 54px;
$grid-space: 27px;
$primary-color: #de865e;
$secondary-color: #eadeb5;
$highlight: #ffffff;
$true-width: 1240px;
//$width: calc(#{$true-width} + #{$grid-inc});
$width: 1294px;
$link-transition: .2s;


@mixin keyframes( $animation_name ){
    @-webkit-keyframes #{$animation_name} {
        @content;
    }
    @-moz-keyframes #{$animation_name} {
        @content;
    }
    @keyframes #{$animation_name} {
        @content;
    }
}

// Small tablets (portrait view)
$screen-sm-min: 768px;

// Tablets and small desktops
$screen-md-min: 992px;

// Large tablets and desktops
$screen-lg-min: 1280px;

// Small devices
@mixin sm {
    @media (max-width: #{$screen-sm-min}) {
        @content;
    }
 }

 // Medium devices
 @mixin md {
    @media (max-width: #{$screen-md-min}) {
        @content;
    }
 }

 // Large devices
 @mixin lg {
    @media (max-width: #{$screen-lg-min}) {
        @content;
    }
 }

@font-face {
    font-family: 'VennVF';
    src: url('../../assets/fonts/VennVF_W.woff2') format('woff2');
}

html{
    font-family: "VennVF", sans-serif;
    //background-color: $secondary-color;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

// Weight: 300 - 800 Width: 75 - 125

@supports (font-variation-settings: normal) {
    html {
        font-family: 'VennVF', sans-serif;
        font-variation-settings: "wdth" 100;
        @include sm{
            font-size: 12px;
        }
    }
    h1{
        font-size: 4rem;
        font-variation-settings: "wdth" 125,"wght" 700;
        letter-spacing: -.2rem;
        line-height: 3.8rem;
        color: $primary-color;
        margin: $grid-inc 0;
        &.light{
            margin: 0;
            color: $highlight;
        }
        @include md{
            margin: calc(#{$grid-inc} / 2) 0;
        }
    }
    .links{
        font-size: 1.5rem;
        font-variation-settings: "wdth" 112.5,"wght" 300;
        letter-spacing: -.1rem;
        color: $primary-color;
        a{
            text-decoration: none;
            color: $primary-color;
            transition: opacity #{$link-transition};
            &:hover{
                opacity: .6;
            }
        }
        &.light a{
            color: $highlight;
        }
    }
    p{
        font-size: 1.75em;
        font-variation-settings: "wdth" 112.5,"wght" 350;
        letter-spacing: -.05rem;
        margin-bottom: 1.75rem;
        color: $primary-color;
        a{
            font-variation-settings: "wdth" 112.5,"wght" 700;
            text-decoration: none;
            color: $primary-color;
        }
        a.underline{
            text-decoration: underline;
        }
    }
    figcaption{
        color: $primary-color;
        text-align: center;
        width: 100%;
        margin-top: 12px;
        font-size: 1.5rem;
        font-variation-settings: "wdth" 100,"wght" 350;
    }
    h2{
        font-size: 1.75em;
        font-variation-settings: "wdth" 112.5,"wght" 350;
        letter-spacing: -.05rem;
        margin-bottom: 0px;
        > a{
            color: $primary-color;
            font-variation-settings: "wdth" 112.5,"wght" 700;
            text-decoration: none;
            line-height: 1rem;
            transition: opacity #{$link-transition};
            &:hover{
                opacity: 0.6;
            }
        }
        > a.underline{
            text-decoration: underline;
        }
    }
    h3{
        font-size: 1.2em;
        font-variation-settings: "wdth" 112.5,"wght" 700;
        color: $primary-color;
        letter-spacing: -.05rem;
        margin-bottom: 0px;
    }
    .bullets::after{
        display: block;
        width: 10px;
        border-bottom: 1px solid $primary-color;
    }
    .post{
        padding-bottom: $grid-inc;
        p{
            font-variation-settings: "wdth" 105,"wght" 350;
            letter-spacing: 0em;
            font-size: 1.5em;
            line-height: 1.75em;
            &.skill{
                margin: 0;
            }
            a{
                font-variation-settings: "wdth" 105,"wght" 600;
                text-decoration: none;
                color: $primary-color;
                transition: all .5s;
                &:hover{
                    font-variation-settings: "wdth" 105,"wght" 700;
                    opacity: 0.5;
                }
            }
        }
        &>.container:first-child{
            margin-top: 0px;
        }
        @include md{
            padding: calc(#{$grid-inc} / 2) 0;
        }
    }
    .pages{
        line-height: .3rem;
        p{
            font-variation-settings: "wdth" 112.5,"wght" 700;
        }
        a{
            font-variation-settings: "wdth" 112.5,"wght" 350;
            text-decoration: underline;
            line-height: 1.25em;
        }
        &.rightalign{
            text-align: right;
        }
    }
    .tags{
        font-size: 1.25rem;
        font-variation-settings: "wdth" 100,"wght" 300;
        margin-bottom: .8rem;
    }
    .navlink{
        margin-left: 15px;
        &.current{
            font-variation-settings: "wdth" 112.5,"wght" 500;
            letter-spacing: -.05rem;
        }
    }
    @include md{
        .navlink{
            margin-left: 0;
            margin-right: 15px;
        }
    }
    .project-buttons{
        @include md{
            padding-bottom: $grid-space;
        }

        & > a{
            //background-color: $secondary-color;
            border: 1px solid $primary-color;
            font-size: .75em;
            padding: .4em .8em;
            font-family: 'VennVF', sans-serif;
            font-variation-settings: "wdth" 120,"wght" 500;
            color: $primary-color;
            text-decoration: none;
            //border-radius: .58em;
            margin-right: .4em;
            transition: all .2s;
            transition-property: font-variation-settings, opacity;
            &:first-child{
                background-color: $primary-color;
                color: $highlight;

                &::after{
                    font-size: .8em;
                    margin-left: 10px;
                    margin-right: 5px;
                    content: "↗";
                    transition: margin .2s;
                }
            }
            &:hover{
                opacity: .8;
                //font-variation-settings: "wdth" 120,"wght" 500;
                &::after{
                    margin-left: 15px;
                    margin-right: 0px;
                }
            }
        }
        &.inpost{
            margin: $grid-inc 0;
            & > a:first-child{
                background-color: $highlight;
                color: $primary-color;
            }
        }
    }
}
figure{
    margin: calc(3 * #{$grid-inc}) $grid-space;
    width: 100%;
    > img{
        width: 100%;
    }
}

.hero-section{
    height: 100vh;
    width: 100%;
    background-color: $primary-color;
    color: $highlight;
}

.light-section{
    background-color: $secondary-color;
    &.padding{
        padding: $grid-inc 0;
    }
}

.highlight-section{
    background-color: $highlight;
}

.container{
    width: $width;
    margin: 0 auto;

    &.hero{
        height: 100%;
        padding-top: $grid-inc;
        padding-bottom: calc(#{$grid-inc} * 2);
    }
    &.nav{
        padding-top: $grid-inc;
        padding-right: $grid-space;
        padding-left: $grid-space;
    }
    &.reel{
        padding: $grid-inc 0;
    }
    @include lg{
        width: 1000px;
    }
    @include md{
        width: 100%;
        &.hero{
            padding: 0;
        }
    }
}

.flex-wrapper{
    display: flex;
    &.column{
        flex-direction: column;
    }
    &.rowreverse{
        flex-direction:row-reverse;
    }
    &.fullheight{
        height: 100%;
    }
    &.alignbottom{
        flex-grow: 1;
        align-items: flex-end;
    }
    &.marginbottom{
        margin-bottom: $grid-inc;
    }
    &.margintop{
        margin-top: $grid-inc;
    }
    &.project{
        margin-bottom: calc(#{$grid-inc}*2);
        margin-top: calc(#{$grid-inc}*2);
        padding-bottom: $grid-space;
        padding-top: $grid-space;
        border: 1px solid $primary-color;
        @include md{
            margin: $grid-inc $grid-space;
        }
    }
    &.experiments{
        flex-flow: row wrap;
        align-content: flex-start;
        align-items: center;
    }
    &.fullwidth{
        width: 100%;
    }
    &.footer{
        //border-top: 2px solid $primary-color;
        padding: $grid-inc 0;
    }
    &.right{
        justify-content: flex-end;
    }
    &.regularwidth{
        padding: 0 $grid-space;
    }

    @include md{
        &.m-col{
            flex-direction: column;
        }
        &.m-left{
            justify-content: flex-start;
        }
    }
}



.flex-grow{
    flex-grow: 1;
    &.none{
        flex-grow: 0;
    }
}

.flex-column{
    margin: 0 $grid-space;
    &.nomargin{
        margin: 0;
    }
    &.square{
        align-self: flex-start;
        &:after{
            content:"";
            display: block;
            padding-bottom: 100%;
        }
    }
    &._50{
        width: calc(50% - #{$grid-inc});
    }
    &._50nomargin{
        width: 50%;
    }
    &._25{
        width: calc(25% - #{$grid-inc});
    }
    &._33{
        width: calc(33.333% - #{$grid-inc});
    }
    &._66{
        width: calc(66.666% - #{$grid-inc});
    }
    &._45{
        width: calc(45% - #{$grid-inc});
    }
    &._100{
        height: 100%;
    }
    &.experiment{
        flex: 3;
        transition: opacity .5s;
        & > a{
            text-decoration: none;
        }

        & > a > p {
            font-size: 1em;
            text-decoration: none;
        }
        & :hover {
            opacity: .8;
        }
    }
    &.stretch{
        flex-grow: 1;
        &:after{
            content:"";
        }
    }
    &.highlightbox{
        background-color: $highlight;
        display: block;
        position: relative;
    }
    @include md{
        &._50{
            width: calc(100% - #{$grid-inc});
        }
        &._25{
            width: calc(50% - #{$grid-inc});
        }
        &._66{
            width: calc(100% - #{$grid-inc});
        }
        &.m-hide{
            display: none;
        }
        &.m-marginbelow{
            margin-bottom: $grid-space;
        }
        &.m-margin{
            margin-top: calc(#{$grid-space}/2);
            margin-bottom: calc(#{$grid-space}/2);
        }
    }
}
.window-grid{
    background: $highlight;
}
.window-parent{
    margin: 0 $grid-space;
    overflow: hidden;
    position: relative;
}
.window-row{
    display: flex;
}
.window-line{
    height: $grid-inc;
    background: $secondary-color;
    position: relative;
    z-index: 20;
}
.window-col{
    position: relative;
    z-index: 20;
    &.open{
        //width: calc(#{$grid-inc}*5);
        //align-self: flex-start;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
    &.closed{
        //flex-grow: 1;
        width: $grid-inc;
        background-color: $secondary-color;
    }
    &.text{
        overflow: visible;
        width: calc(50% - #{$grid-space});
        background-color: $secondary-color;
    }
}
.window-openbox{
    &.square{
        width: 100%;
        padding-bottom: 100%;
    }
    &.fill{
        flex-grow: 1;
        background-color: $secondary-color;
    }
}
#window-me1{
    position: absolute;
    left: -100%;
    top: -100px;
    width: 600px;
}
#window-me2{
    position: absolute;
    right: -20%;
    top: 100%;
    width: 500px;
}

.preload-wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

#hero{
    opacity: 0;
}
#loader{
    position: fixed;
    z-index: 999;
    top: 0; bottom: 0; left: 0; right: 0;
    background-color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
}
#lilbox{
    width: 15px;
    height: 15px;
    display: block;
    background-color: $secondary-color;
    animation: rotate 2s linear infinite;
}

@include keyframes(rotate){
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(369deg);
    }
}

.smallbox{
    position: relative;
    background-color: $secondary-color;
    flex-basis: 71.45%;
    &:after{
        content:"";
        display: block;

        padding-bottom: 100%;
    }
}

#smallbox-me{
    position: absolute;
    right: 0; bottom: 0;
    top: -50px;
    left: -50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom 1800%;
    background-image: url('/assets/images/smallme.png');
}



.image-stack{
    position:relative;
    width: 100%;
    padding-bottom: 60%;
    background-color: $secondary-color;
    & > div{
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        left: 0; right: 0; top: 0; bottom: 0;
    }
}


.adjustments{
    &.notopmargin{
        margin-top:0px;
    }
    &.aboutmargin{
        margin-top: calc(#{$grid-inc}*2);
        margin-bottom: $grid-inc;
    }
    @include md{
        &.aboutmargin{
            margin: 0;
        }
    }
}

#luc-wrappy{
    position: absolute;
    top: 0px; bottom: 0px; right: 0px; left: -300px;

}

#luc-home{
    display: block;
    width: 100%;
    height: 100%;
}
